.overview {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  gap: 10px;
  padding: 15px;
  margin-top: 0;
  padding-top: 0;

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    margin-bottom: 5px;
    position: relative;
    margin-right: auto;

    .attendance-container {
      display: flex;
      flex-direction: column;
      gap: 2px;
      background-color: #10837e;
    }
    /*.recent-coordinators {
      background-color: rgb(184, 88, 88);
      border-radius: 8px;
      padding: 60px;
      color: black;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      height: auto;
      position: relative;
      padding-top: 0.5em;
      margin-left: 0.5em;

      h2 {
        font-size: 1em;
      }
      .new-members-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }*/
  }
  .total-program {
    background: linear-gradient(#38e2af 0%, #27c495 72%, #229573 100%);
  }
  .total-student {
    background: linear-gradient(#6442c1 0%, #341f5b 100%);
  }
  .total-coordinator {
    background: linear-gradient(#17c9ef 0%, #097187 100%);
  }
  .total-company {
    background: linear-gradient(#11f2e8 0%, #10837e 100%);
  }

  .total-coordinator,
  .total-program,
  .total-company,
  .total-student {
    border-radius: 5px;
    height: 39%; // Allow cards to adjust their height
    width: auto; // Allow cards to take full width of their container
  }
}
.chart-two {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  .chart-container {
    color: black;
    width: 105%;
  }
  /*  .attendance-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #10837e;
  }*/
  .recent-coordinators {
    background-color: rgb(184, 88, 88);
    border-radius: 8px;
    padding: 60px;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    position: relative;
    padding-top: 0.5em;
    padding-left: 2em;
    margin-left: 5em;
    margin-right: 1em;

    h2 {
      font-size: 1.3em;
    }
    .new-members-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
