.overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  margin-top: 0;
  padding-top: 0;

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    margin-bottom: 5px;
    margin-right: auto;
  }
}

.content-wrapper {
  display: flex;
  gap: 20px;
}

.left-column,
.right-column {
  flex-direction: column;
}

.chart-container,
.attendance-container,
.card-container,
.progress-chart-container {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  color: black;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-members-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
