.overview {
  padding: 0 3em;
  font-family: "Montserrat", sans-serif; // Apply Montserrat to the whole overview section

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 20px;
    color: black;

    .card-container {
      flex: 1.2;
      display: flex;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      font-size: 12px;
      color: #767676;
      font-weight: 20px;
      border: #ccc 1px solid;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

      .h2 {
        margin-right: 3em;
      }
    }

    @media (min-width: 780px) {
      flex-direction: row;
      justify-content: space-between; /* Space between the two containers */
    }

    .chart-container {
      flex: 2; /* Take up 2/3 of the space */
      background-color: #fff;
      padding: 1em 2em;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      font-size: 12px;
      color: #767676;
      font-weight: 20px;
      border: #ccc 1px solid;

      @media (min-width: 780px) {
        margin-right: 10px;
      }
    }

    .second-chart-container {
      flex: 1; /* Take up 1/3 of the space */
      background-color: #fff;
      padding: 1em 2em;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      font-size: 12px;
      font-weight: 1px;
      color: #160e46;
      border: #ccc 1px solid;

      @media (min-width: 780px) {
        margin-left: 10px;
      }
    }
  }

  .cards-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

    @media (min-width: 780px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      gap: 10px;
    }

    .card {
      margin-bottom: 10px;
    }
  }
}
