.dashb {
  padding: 0 1em;
  font-family: "Montserrat", sans-serif; // Apply Montserrat to the whole overview section
  overflow: hidden;

  .total-companies,
  .total-students {
    border-radius: 5px;
    line-height: 4.5em;
    margin-left: 5em;
    gap: 8px;
    position: relative;
  }

  .total-companies {
    background: linear-gradient(#38e2af 0%, #27c495 72%, #229573 100%);
  }

  .total-students {
    background: linear-gradient(#17c9ef 0%, #097187 100%);
  }

  .cards-wrapper {
    display: grid; // Use flexbox for layout
    justify-content: space-between; // Space between left and right cards
    margin-bottom: 20px; // Space below cards
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);

    .left-card {
      flex: 1; // Allow left card to take available space
      display: flex;
      justify-content: center; // Center align left card content
      background-color: #fff;
      width: 113%;
      border-radius: 8px;
      height: 97%;
      margin: auto;
      margin-bottom: 0.5em;

      h2 {
        color: #767676;
        margin-left: 1em;
      }
    }

    .right-cards {
      display: flex;
      flex-direction: column; // Stack right cards vertically
      gap: 10px; // Space between right cards
      position: relative;

      @media (min-width: 780px) {
        align-items: flex-start; // Align items at the start on larger screens
      }
    }
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 20px;
    color: black;

    .card-container {
      flex: 1.2;
      display: flex;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      font-size: 12px;
      color: #767676;
      font-weight: 20px;
      border: #ccc 1px solid;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

      h2 {
        margin-left: 1.5em;
        margin-top: 1.5em;
      }
    }

    @media (min-width: 780px) {
      flex-direction: row;
      justify-content: space-between; /* Space between the two containers */
    }

    .chart-container {
      flex: 2; /* Take up 2/3 of the space */
      background-color: #fff;
      padding: 1em 2em;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      font-size: 12px;
      color: #767676;
      font-weight: 20px;
      border: #ccc 1px solid;

      @media (min-width: 780px) {
        margin-right: 10px;
      }
    }

    .second-chart-container {
      flex: 1; /* Take up 1/3 of the space */
      background-color: #fff;
      padding: 1em 2em;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      font-size: 12px;
      font-weight: 1px;
      color: #160e46;
      border: #ccc 1px solid;

      @media (min-width: 780px) {
        margin-left: 10px;
      }
    }
  }

  .cards-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-left: 30em;

    @media (min-width: 780px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      gap: 10px;
    }

    .card {
      margin-bottom: 10px;
    }
  }
}
