@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;700&family=Montserrat:wght@400;700&display=swap");

html,
body {
  width: 100%;
  height: 100vh; /* Full viewport height */
  margin: 0; /* No margin */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Static background color with a linear gradient */
  background: linear-gradient(90deg, #11ffb7, #11f2e8, #17c9ef);
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  border-radius: 8px;
  max-width: 400px;
  width: 100%; // Full width
  height: auto; // Allow height to adjust based on content
}

.logo {
  margin-bottom: 20px; /* Space between logo and input fields */
  width: auto; /* Adjust width as needed */
  height: 120px; /* Fixed height for consistency */
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 100%;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal; /* Changed to normal for better readability */
  font-size: 15px;
  color: rgba(0, 0, 0, 0.56);
}

.button-container {
  display: flex;
  justify-content: center;
}
