.reminder-card {
  background-color: #eaf3e7;
  border-radius: 12px;
  padding: 20px;
  max-width: 260px;
  margin: 20px auto;
  margin-top: 1.2em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  margin-left: 3.2em;

  .card-title {
    font-size: 1.4em;
    font-weight: 500;
    color: #444;
    margin-bottom: 30px;
  }

  .card-content {
    font-size: 0.98em;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
  }

  .card-footer {
    font-size: 0.8em;
    color: #6e6a6a;
    text-align: right;
    font-weight: 600;
    margin-top: 3em;
  }
}
